$xs: "(min-width: 520px)";
// @media #{$xs}

$sm: "(min-width: 768px)";
// @media #{$sm}

$md: "(min-width: 1024px)";
// @media #{$md}

$lg: "(min-width: 1280px)";
// @media #{$lg}

$xl: "(min-width: 1640px)";
// @media #{$xl}
